<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>cc.colorto.basil-tonic</string>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/basil-tonic/bin/basil-tonic</string>
      <string>--activate-socket</string>
      <string>Listeners</string>
    </array>
    <!--
    <key>StandardOutPath</key>
    <string>/tmp/basil-tonic.log</string>
    -->
    <key>Sockets</key>
    <dict>
      <key>Listeners</key>
      <dict>
        <key>SockNodeName</key>
        <string>127.0.0.1</string>
        <key>SockServiceName</key>
        <string>50151</string>
        <key>SockType</key>
        <string>stream</string>
        <key>SockProtocol</key>
        <string>TCP</string>
        <key>SockFamily</key>
        <string>IPv4</string>
      </dict>
    </dict>
  </dict>
</plist>
